# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env
.env*

# Node modules
node_modules/
NFTX/node_modules/

# Local guides
deployment_guide.md
